   # GROQ CREDENTIALS
   GROQ_API_KEY="Your API key"

   # SUPABASE VECTOR STORE
   SUPABASE_URL="Your Supabase URL"
   SUPABASE_SERVICE_ROLE_KEY="Your Role key"

   # POSTGRES DB MEMORY (DOCKER)
   POSTGRES_HOST="postgres host here"
   POSTGRES_PORT="003 your port"
   POSTGRES_DB=postgres
   POSTGRES_USER="user postgress"
   POSTGRES_PASSWORD="paste your postgres password here"
